.main-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 80%;
  width: 90%;
  border-radius: 20px;
  margin: 20px auto;
  overflow: scroll;
  flex-grow: 1;
}

.main-toolbox {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  width: 150px;
  height: 100px;
  position: absolute;
  left: 0;
  background-color: var(--color-tertiary);
  border-radius: 0 20px 20px 0;
}

.main-sort-box {
  input {
    cursor: pointer;
    margin-left: 10px;
  }
}

.main-search-box {
  width: 130px;
}

.not-found {
  margin: auto;
}
